html,
body,
* {
  border: none;
  outline: none;
}

.maintext {
  float: left;
  text-align: center;
  width: 80%;
}
.buttons {
  text-align: center;
  border-radius: 25px;
  font-size: 20px;
  background: #e0607e;
  padding: 15px;
  width: 25%;
  min-height: 25px;
  margin: auto;
  margin-bottom: 10px;
}
.Reset {
  width: 100px;
  float: left;
  border: none;
  border-radius: 25px;
  background: #cf1a13;
  margin-left: 1.5%;
  margin-top: 1.5%;
  font-size: 17px;
  padding: 15px 10px;
}
.Reset:hover {
  background-color: #cf1913c9;
}
.Adding {
  width: 40%;
  height: 50px;
  background: #b0c4de73;
  border-radius: 20px;
  font-size: 20px;
}
.AddingBtn {
  width: 25%;
  height: 50px;
  background: LightGreen;
  border: none;
  border-radius: 25px;
}
.big {
  width: 25%;
  height: 25%;
}
