html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #d1d1d1;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;
}
:root {
    --bg: #303131;
}
body {
    background-color: var(--bg);
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.cent {
    text-align: center;
}

.projlink {
    text-align: center;
}
.projimg {
    width: 30%;
}

@media (min-width: 1000px) {
    .Projects {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media (max-width: 1000px) {
    .Projects {
        display: grid;
        grid-template-columns: auto;
    }
}
.t1,
.t2,
.t3 {
    font-family: "Roboto", sans-serif;
    margin: 1.5px;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.t1 {
    font-size: 65px;
    animation-name: FadeIn;
    animation-duration: 1s;
}
.t2 {
    font-size: 55px;
    animation-name: FromRight;
    animation-duration: 1.5s;
    position: relative;
    animation-timing-function: ease-out;
}
.t3 {
    font-size: 20px;
    margin: 6px;
    animation-name: Grow;
    animation-delay: 2s;
    animation-duration: 0.25s;
    animation-timing-function: ease-out;
    transform: scale(0);
    color: #686868;
}
@keyframes FadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes FromRight {
    0% {
        left: -70%;
    }
    80% {
        left: 15%;
    }
    100% {
        left: 0%;
    }
}
@keyframes Grow {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
